.jumbotron
  .container.text-center
    = image_tag("header_logo.png", alt: "PROTO TYPE - SHARE THE PROTOTYPE", height: "73px")

.filter-nav
  .container
    = if flash[:notice]
      .alert.alert-success
        = flash[:notice]
    .row
      %ul.nav.nav-pills.col-lg-11
        %li.active{ role: "presentation" }
          %a{ class: 'show_popular' } PROTOTYPES
        %li{ role: "presentation" }
          %a{ class: 'show_newest' } 4 HOTTEST PROTO
      %a{ class: "btn btn-default col-lg-1", href: "/tags" } View Tags

.container.proto-list
  .row#prototypes
    = render partial: 'prototype', collection: @prototypes
  .row#newest-prototypes{ style: "display: none" }
    = render partial: 'prototype', collection: @newest_prototypes
.text-center
  %ul.pagination
    %li.disabled#prototypes
      = paginate(@prototypes)

