.container.user-new
  .col-md-8.col-md-offset-2
    %header.row.user-nav.row
      .col-md-12
        %h2 Register
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = devise_error_messages!
          .user-name_image.row
            .user-name.col-md-10
              = f.text_field :user_name, autofocus: true, maxlength: "6", placeholder: "Username"
            .user-image.col-md-2
              %button.btn.btn-primary Add image
              = f.file_field :avatar
          .field.user-email
            = f.email_field :email, placeholder: "E-Mail Address"
          .field.user-password
            = f.password_field :password, autocomplete: "off", placeholder: "Password"
          %h4 Member of
          .user-user-member.row
            .user-name.col-md-12
              = f.text_field :member_of
          %h4 Profile
          .user-user-profile.row
            .user-name.col-md-12
              = f.text_area :profile, cols: "30", rows: "4"
          %h4 Works 
          .user-name_image.row
            .user-name.col-md-12
              = f.text_area :works, cols: "30", rows: "4"

          %button.actions.btn.btn-lg.btn-primary.btn-block
            Save
