.col-sm-4.col-md-3.proto-content
  .thumbnail
    %a{ href: "/prototypes/#{ prototype.id }" }
      = image_tag "#{ main_image(prototype) }"
      .caption
        %h3
          = prototype.title
        .proto-meta
          .proto-user
            %a{ href: "/users/#{ prototype.user.id }" }
              by #{ by_whom?(prototype) }
          .proto-posted
            = date_of_created(prototype)
        %ul.proto-tag-list.list-inline
          - prototype.tag_list.each do |tag|
            %li
              %a{ href: "#", class: "btn btn-default" } #{ tag }
