.filter-nav
  .container
    = if flash[:notice]
      .alert.alert-success
        = flash[:notice]
    .row
      %ul.nav.nav-pills.col-lg-11
        %li.active{ role: "presentation" }
          %a{ class: 'show_popular' } Tagged With "#{ @tag.name }"

.container.proto-list
  .row#prototypes
    = render partial: 'prototype', collection: @prototypes
.text-center
  %ul.pagination
    %li.disabled#prototypes
      = paginate(@prototypes)

